*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: var(--tipo_montserrat);
	color: #fff;
	list-style: none;
}

:root{
	font-size: 100%;

	--color_a1: rgba(132.32, 250.18, 177.73, 1.0);
	--color_a1_75: rgba(132.32, 250.18, 177.73, .75);
	--color_a1_50: rgba(132.32, 250.18, 177.73, .5);
	--color_a1_25: rgba(132.32, 250.18, 177.73, .25);

	--color_a2: rgb(250.03, 100.97, 103.45);
	--color_a2_75: rgba(250.03, 100.97, 103.45, .75);
	--color_a2_50: rgba(250.03, 100.97, 103.45, .5);
	--color_a2_25: rgba(250.03, 100.97, 103.45, .25);

	--color_b1: rgba(15.913, 14.942, 16.934, 1.0);
	--color_b1_75: rgba(15.913, 14.942, 16.934, .75);
	--color_b1_50: rgba(15.913, 14.942, 16.934, .5);
	--color_b1_25: rgba(15.913, 14.942, 16.934, .25);

	--color_b2: rgba(31.825, 29.883, 33.867);
	--color_b2_75: rgba(31.825, 29.883, 33.867, .75);
	--color_b2_50: rgba(31.825, 29.883, 33.867, .5);

	--color_b3: rgba(79.563, 74.708, 84.668, 1.0);
	--color_b3_50: rgba(79.563, 74.708, 84.668, .5);
	--color_b3_25: rgba(79.563, 74.708, 84.668, .25);

	--tipo_shoulders_d: 'Big Shoulders Display', cursive;
	--tipo_shoulders_t: 'Big Shoulders Text', cursive;
	--tipo_montserrat: 'Montserrat', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--color_b2);
}

a{
	text-decoration: none;
}

input{
	border: none;
	outline: none;
}

.titles-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 1rem;
}

h1{
	display: inline-block;
	font-family: var(--tipo_shoulders_d);
	line-height: 1.25em;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: .075em;
}

h2{
	font-family: var(--tipo_shoulders_d);
	font-size: 2rem;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .075em;
	border-bottom: .225rem solid var(--color_a1);
	padding-bottom: .25rem;
}

h3{
	font-family: var(--tipo_shoulders_t);
	color: var(--color_a1);
	font-size: 1.5rem;
	font-weight: normal;
	letter-spacing: .075em;
}

h4{
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .075em;
}

p{
	font-family: var(--tipo_montserrat);
	letter-spacing: .075em;
	line-height: 1.25em;
}

.background{
	position: fixed;
	overflow: hidden;
	background-color: #404145;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.background img{
	position: absolute;
	object-fit: cover;
}

#lrParticulas{
	width: 100%;
	height: 100%;
}

#lrCirculo{
	width: 100%;
	height: 100%;
	animation: fondoCirculo 10s infinite ease-in-out;
}

#lrMascara{
	width: 100%;
	height: 100%;
	animation: fondoMascara 10s infinite ease-in-out;
}

#lrLucas{
	bottom: 0;
	width: 100%;
	height: 100%;
	animation: fondoLucas 10s infinite ease-in-out;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: var(--color_b1_75);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
	z-index: 1000;
	transition: background-color, .3s ease-in-out;
}

.header--activo{
	background-color: var(--color_b1);
}

.logotipo-container{
	align-items: center;
	display: flex;
	gap: 1rem;
}

.header-title{
	font-family: var(--tipo_shoulders_d);
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: .075em;
}

.logo-container{
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #fff;
	animation: logo-animado 15s infinite ease-out;
	rotate: 0deg;
	scale: 1.0;
}

.logo-container img{
	width: 65%;
	height: 65%;
}

.menu_estatico{
	display: none;
}

.menu_estatico ul{
	display: flex;
	gap: 1rem;
}

.menu_estatico ul li a{
	padding: 1rem;
	border: .1em solid transparent;
	transition: border, color, .3s ease-in-out;
}

.menu_estatico ul li a:hover{
	border: .1em solid var(--color_a1);
	color: var(--color_a1);
}

.menu{
	position: relative;
	display: flex;
	align-items: center;
}

.menu svg{
	font-size: 1.5rem;
}

#menuMask{
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.menu_dinamico{
	position: fixed;
	margin-top: -100%;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 6rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, .5);
	z-index: 900;
	backdrop-filter: blur(10px);
	transition: margin-top, .3s ease-in-out;
}

.menu_dinamico--activo{
	margin-top: 0;
}

.menu_dinamico li{
	padding: 0 2rem;
}

.menu_dinamico li a{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
	transition: color, .3s ease-in-out;
}

.menu_dinamico li a:hover{
	color: var(--color_a2);
}

.menu_dinamico li a svg{
	transition: filter, .3s ease-in-out;
}


.menu_dinamico li a:hover > svg{
	filter: invert(52%) sepia(90%) saturate(3409%) hue-rotate(324deg) brightness(107%) contrast(101%);
}


main{
	display: flex;
	flex-direction: column;
	z-index: 0;
	width: 100%;
}

.hero-parrafo_container{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	z-index: 200;
}

.parrafo{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.seccion{
	width: 100%;
	padding: 8rem 1rem 4rem 1rem;
}

#hero{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	filter: brightness(1.1);
}

#hero::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 85vh;
	background: linear-gradient(to top, rgb(28.825, 26.883, 30.867) 10%, transparent);
	z-index: -100;
}

.light{
	font-weight: 100;
}

.experiencias-container{
	padding: .5rem 0;
	border-top: .1rem solid var(--color_b1);
	border-bottom: .1rem solid var(--color_b1);
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.experiencias{
	display: flex;
	align-items: center;
	gap: .5rem;
	opacity: 0;
	scale: 1;
	animation: experienciasAnimacion 5s ease-in-out infinite;
}

.experiencias p{
	font-weight: 700;
	letter-spacing: .1em;
	color: var(--color_a2);
}

.logos-container svg{
	font-size: 2.25rem;
	display: none;
	filter: invert(50%) sepia(66%) saturate(1888%) hue-rotate(318deg) brightness(103%) contrast(101%);
}

.logos-container svg:nth-child(1){
	display: inherit;
}

.experiencias-mascara{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.grid-item{
	width: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to top, var(--color_b3), var(--color_b3_50), transparent);
	gap: 1rem;
	padding: 1.5rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
	transition: linear-gradient, .3s ease-in-out;
}

.grid-item:hover{
	background: linear-gradient(to bottom, var(--color_a1), var(--color_b3_50), transparent);
}

.grid-item:hover > .project-img_container img{
	transform: scale(1.05);
}

.project-img_container{
	width: 100%;
}

.project-img_container img{
	width: 100%;
	object-fit: cover;
	transition: transform, .3s ease-in-out;
}

.project-text{
	font-weight: 100;
	font-size: .85rem;
}

.project_button{
	display: flex;
	justify-content: space-between;
	outline: .2rem solid #fff;
	color: #fff;
	padding: 1rem;
	transition: border, color, .3s ease-in-out;
	cursor: pointer;
}

.project_button:hover{
	outline: .2rem solid var(--color_a2);
	color: var(--color_a2);
}

.project_button svg{
	transition: filter, .3s ease-in-out;
}

.project_button:hover > svg{
	filter: invert(52%) sepia(90%) saturate(3409%) hue-rotate(324deg) brightness(107%) contrast(101%);
}

.experiencias_container{
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.experiencia_seleccionada{
	background: linear-gradient(to top, var(--color_b3), var(--color_b3_50), transparent);
	width: 100%;
	padding-bottom: 2rem;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experiencia_seleccionada__background{
	margin: -2rem -2rem 0 -2rem;
	padding: 1rem .5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color, .3s ease-in-out;
}

.experiencia_seleccionada__img_container{
	position: relative;
	width: 75%;
}

.experiencia_seleccionada__img_container svg{
	position: absolute;
	object-fit: cover;
}

.experiencia_seleccionada .parrafo_general{
	padding: 0 2rem;
}

.lista_experiencias{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.experiencia{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.experiencias-text_container{
	display: flex;
	justify-content: space-between;
}

.experiencias-text_container span:nth-child(1){
	font-style: italic;
}

.barra_container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: 2rem;
	border: .1rem solid #fff;
	padding: .25rem;
	cursor: pointer;
}

.barra_container:hover > .barra{
	background: linear-gradient(to top, var(--color_a2), #fff);
}

.barra{
	background: linear-gradient(to top, var(--color_a1_25), var(--color_a1));
	height: 100%;
	transition: background-color, .6s ease-in-out;
}

.barra__mask{
	position: absolute;
	width: 100%;
	height: 100%;
}

#experienciaTexto{
	font-weight: 100;
}

#contacto{
	background: linear-gradient(to bottom, var(--color_b2), var(--color_b2_75), var(--color_b2_50), transparent);
	display: flex;
	flex-direction: column;
	gap: 4rem;
	justify-content: space-between;
}

.contact-form_container{
	display: flex;
	justify-content: center;
	width: 100%;
}

.contact-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background: linear-gradient(to top, var(--color_b3), var(--color_b3_50), transparent);
	backdrop-filter: blur(10px);
	padding: 2rem;
	max-width: 540px;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .25);
}

.form-elements_container{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: .5rem;
}

.form-elements_container label{
	font-style: italic;
	transition: color .3s ease-in-out;
}

.form-elements_container textarea{
	outline: none;
	border: none;
	resize: none;
	height: 12.5rem;
}

.form-input_container{
	display: flex;
	align-items: center;
	border-left: .5rem solid var(--color_b1_75);
	padding-left: .5rem;
	width: 100%;
	transition: border-left, .3s ease-in-out;
}

.form-input_container:hover{
	border-left: .5rem solid var(--color_a1);
}

.form-input{
	width: 100%;
	background-color: var(--color_b1_75);
	padding: 1rem;
}

.warning_button{
	text-align: center;
	border: none;
	outline: none;
	font-size: 1.25rem;
	background-color: #fff;
	color: var(--color_b2);
	padding: 1rem;
	transition: background-color, color, .3s ease-in-out;
	cursor: pointer;
}

.warning_button:hover{
	background-color: var(--color_a2);
	color: #fff;
}

footer{
	padding: 8rem 1rem 4rem 1rem;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4rem;
	z-index: 1000;
	background-color: var(--color_b1_75);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

footer p{
	font-size: .75rem;
	font-weight: 100;
}

.redes_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.redes{
	width: 100%;
	flex-direction: column;
	display: flex;
	gap: 1rem;
}

.redes-item_container{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.redes-item_container:hover > span{
	color: var(--color_a2);
}

.redes-item_container:hover > svg{
	filter: invert(52%) sepia(90%) saturate(3409%) hue-rotate(324deg) brightness(107%) contrast(101%);color: var(--color_a2);
}

.redes-item_container span{
	font-family: var(--tipo_montserrat);
	letter-spacing: .075em;
	font-size: 1rem;
	transition: color, .3s ease-in-out;
}

.redes-item_container svg{
	font-size: 2rem;
	transition: filter, .3s ease-in-out;
}

.section-bg{
	background-color: var(--color_b2);
}

#portfolio, #experiencia{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.texto_celeste{
	color: var(--color_a1);
}

.title_fx{
	padding: .25rem .25em;
	background-color: rgba(255, 255, 255, 1);
	color: var(--color_b1);
}

.parrafo_general{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#warningBackground{
	background-color: rgba(0, 0, 0, .75);
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(10px);
	justify-content: center;
	align-items: center;
	padding: 2rem;
	z-index: 1000;
	top: 0;
	left: 0;
}

.warning{
	background: linear-gradient(to top, var(--color_b3), var(--color_b3_25));
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
	max-width: 320px;
}

@keyframes logo-animado{
	0%{
		rotate: 0deg;
		scale: 1.0;
	}
	95%{
		rotate: 0deg;
		scale: 1.0;
	}
	97.5%{
		rotate: -30deg;
		scale: 1.5;
	}
	100%{
		rotate: 0deg;
		scale: 1.0;
	}
}

@keyframes experienciasAnimacion{
	0%{
		scale: 1;
		opacity: 0;
	}
	5%{
		opacity: 0;
	}
	10%{
		scale: 1.25;
		opacity: 1;
	}
	15%{
		scale: 1;
	}
	90%{
		opacity: 1;
	}
	95%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes titleFx{
	0%{
		background-size: 2% 3rem;
	}
	10%{
		background-size: 100% 3rem;
	}
	20%{
		background-size: 2% 3rem;
	}
}

@keyframes fondoCirculo{
	0%{
		scale: 1.0;
		filter: brightness(1.0);
	}
	5%{
		scale: 1.25;
		filter: brightness(3);
	}
	15%{
		scale: 1.0;
		filter: brightness(1.0);
	}
}

@keyframes fondoMascara{
	0%{
		filter: brightness(1.0);
	}
	5%{
		filter: brightness(.5);
	}
	15%{
		filter: brightness(1.0);
	}
}

@keyframes fondoLucas{
	0%{
		filter: brightness(1.0) blur(0);
	}
	5%{
		filter: brightness(.25) blur(.25rem);
	}
	15%{
		filter: brightness(1.0) blur(0);
	}
}

@media only screen and (max-width: 355px){
	:root{
		font-size: 75%;
	}
}

@media only screen and (min-width: 540px){

	.experiencias_container{
		grid-template-columns: 1fr 1fr;
	}

}

@media only screen and (min-width: 640px){

	footer{
		min-height: 0;
	}

	.redes_container{
		flex-direction: row;
	}

}

@media only screen and (min-width: 840px){

	:root{
		font-size: 80%;
	}

	header{
		padding: 1rem 3rem;
	}

	.seccion{
		padding: 8rem 2rem 4rem 2rem;
	}

	.menu_estatico{
		display: inherit;
	}

	.menu{
		display: none;
	}

	.botonera{
		display: none;
	}

	.experiencias_container{
		grid-template-columns: 1fr 2fr;
	}

	footer{
		padding: 4rem 2rem 4rem 2rem;
	}

}

@media only screen and (min-width: 1200px){

	header{
		padding: 1rem 8rem;
	}

	.seccion{
		padding: 8rem 8rem 4rem 8rem;
	}

	footer{
		padding: 4rem 8rem 4rem 8rem;
	}

}